<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
		<title>Eat Da Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body style ="background-color: chocolate;">
		{{{ body }}}
	</body>
</html>
